body {
    font-family: 'montserrat', sans-serif;
    margin: 0;
    background-color: #fff;
    color: #fff;
}

.main {
    display: flex;
    height: calc(100vh - 72px);
}

.sidebar-base {
    background-color: #000;
    width: 350px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.nav {
    background-color: #121212;
    height: 150px;
    margin: 10px 5px 5px 10px;
    border-radius: 10px;
    width: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.library {
    background-color: #121212;
    flex: 1;
    margin: 5px 5px 0px 10px;
    border-radius: 10px;
    width: 330px;
}

.main-content-base {
    background-color: #000;
    flex: 1;
    height: 100%;
}

.main-content {
    background-color: #121212;
    height: calc(100% - 10px);
    margin: 10px 10px 72px 5px;
    border-radius: 10px;
    flex: 1;
    overflow: auto;
    padding: 0 1.5rem;
}

.music-player {
    background-color: #000;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    color: inherit;
    text-decoration: none;
    font-size: 1.1rem;
}

.nav-option {
    margin: 18px 20px;
    opacity: 0.7;
    padding-left: 10px;
}

.nav-option:hover {
    opacity: 1;
}

.nav-option i {
    margin-right: 15px;
    font-size: 1.25rem;
}

.option {
    display: flex;
    justify-content: space-between;
}

.lib-option img {
    height: 1.25rem;
}

.icons {
    margin: 18px 20px;
    font-size: 1.25rem;
    display: flex;
}

.icons i {
    margin-right: 15px;
    opacity: 0.7;
}

.icons i:hover {
    opacity: 1;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 25px 20px;
    height: 9rem;
    background-color: #232323;
    border-radius: 10px;
    padding: 0 10px 20px 10px;
}

.box-p1 {
    font-size: 1rem;
    font-weight: 500;
}

.box-p2 {
    font-size: 0.8rem;
    color: #b3b3b3;
}

.badge {
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    height: 2rem;
    margin-top: 10px;
    width: fit-content
}

.dark-badge {
    background-color: #2a2a2a;
    color: #fff;
}

.sticky-nav {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #121212;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div::-webkit-scrollbar {
    display: none;
}

.sticky-nav-icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sticky-nav-options {
    display: flex;
    align-items: center;
    gap: 2rem;
}

@media (max-width: 1000px) {
    .hide {
        display: none;
    }
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-color: #181818;
    width: 200px;
    border-radius: .5rem;
    padding: 1rem;
    margin: 1.5rem;
}

.card-img {
    width: 100%;
    object-fit: cover;
    border-radius: .5rem;
}

.card-title {
    font-weight: 600;
    margin: .5rem 0 0.25rem 0;
}

.card-info {
    font-size: 0.75rem;
    color: #b3b3b3;
}

.footer {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    height: 50%;
    width: 90%;
    border-top: 2px solid #282828;
}

.album {
    width: 30%;
}

.player {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.25rem;
}

.player-control-icon {
    height: 1rem;
    margin: 0 1rem 0 1rem;
    opacity: 0.7;
}

.player-control-icon:hover {
    opacity: 1;
}

.play-icon {
    height: 2rem;
    opacity: 1;
}

.playback-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    font-size: 0.75rem;
    color: #b3b3b3;
}

.progress-slider {
    appearance: none;
    width: 90%;
    background-color: transparent;
    cursor: pointer;
}

.progress-slider::-webkit-slider-runnable-track {
    height: .2rem;
    background: #b3b3b3;
    border-radius: 100px;
}

.progress-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1rem;
    width: 1rem;
    background: #fff;
    border-radius: 50%;
    margin-top: -.4rem;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.album {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
}

.album-img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 5px;
}

.album-info {
    display: flex;
    flex-direction: column;
}

.album-title {
    font-size: 0.9rem;
    font-weight: 600;
    margin: 0;
}

.album-title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.album-artist {
    font-size: 0.75rem;
    color: #b3b3b3;
    margin: 0;
}

.album-artist:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #fff;
}

.album-icon {
    height: .8rem;
    width: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    margin-left: .7rem;
}

.album-icon:hover {
    border: 2px solid #fff;
    transform: scale(1.1);
}

.album-icon i {
    font-size: .5rem;
    font-weight: 900;
    opacity: 0.7;
}

.album-icon i:hover {
    opacity: 1;
}

.controls {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1rem;
}

.volume-slider {
    appearance: none;
    width: 6rem;
    background-color: transparent;
    cursor: pointer;
    margin-left: .3rem;
}

.volume-slider::-webkit-slider-runnable-track {
    height: .2rem;
    background: #b3b3b3;
    border-radius: 100px;
}

.volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: .8rem;
    width: .8rem;
    background: #fff;
    border-radius: 50%;
    margin-top: -.3rem;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.controls i {
    font-size: .9rem;
    margin-left: 1rem;
    opacity: 0.7;
    cursor: pointer;
}

.controls i:hover {
    opacity: 1;
}